/* .service-container{
    background: url("../assets/images/bg1.jpg") no-repeat center center/cover;
    width: 100%;
    
} */
.servicecard{
    min-height: 180px;
    border-radius: 20px;
}
/* @media (max-width: 768px) {
    .service-container{
      height: 0vh;
    }
  } */

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.bitcoin {
  animation: flip 4s linear infinite;
  transform-style: preserve-3d;
}

