.usercard1{
 background: linear-gradient(145deg, #d5dae0, #b7c8d8);

    border: none;
    border-radius: 18px;
}
.leftlink{
    font-size: 19px;
}
.rightlink{
    font-size: 19px;
}
@media (max-width: 576px) {
    .rightlink{
        font-size: 12px;
    }
    .leftlink{
        font-size: 12px;
    }
  }