.usercard1{
    background: linear-gradient(to top left, #7ad8ba 5%, #0071a8 80%);
    border: none;
    border-radius: 18px;
}
.leftlink{
    font-size: 19px;
}
.rightlink{
    font-size: 19px;
}
@media (max-width: 576px) {
    .rightlink{
        font-size: 12px;
    }
    .leftlink{
        font-size: 12px;
    }
  }